# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Expo
.expo/
dist/
web-build/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistema
.DS_Store


.postman/
Usuarios.txt
Pendientes.txt